
/*Classes Específicas do Site*/

header.topo-site {
    padding: 20px 0;
}

header ul li {
    display: inline-block;
    padding: 0 20px;
    font-size: 17px;
    position: relative;
    top: 4px;
}

header.topo-site a {
    text-decoration: none;
    color: white;
}

.logo {
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.slider{
    min-height: 400px;
}

.slider p{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    border-bottom: 2px solid white;
    display: inline-block;
}

